<html lang="en-us" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<div layout:fragment="content">
    <table th:object="${filter}"
           th:id="|table-${ctrl}|"
           th:data-toolbar="|#toolbar-${ctrl}|"
           th:data-sort-name="${filter.sort}"
           th:data-sort-order="${filter.order}"
           th:data-page-size="${filter.pageSize}"
           th:data-cookie-id-table="${ctrl}">
        <thead>
        <tr>
            <th data-field="id" data-sortable="true" data-visible="true">ID</th>
            <th data-field="created" data-formatter="rfc3999PrettyFormatter" data-sortable="true" data-width="225" th:text="created"></th>
            <th data-field="member" data-formatter="" data-sortable="true" th:text="user"></th>
            <th data-field="category" data-sortable="true" th:text="category"></th>
            <th data-field="ip" data-formatter="intIpFormatter" data-sortable="true" th:text="IP"></th>
            <th data-field="message" data-sortable="true" data-formatter= "auditMessageFormatter" th:text="message"></th>
        </tr>
        </thead>
    </table>
</div>

<th:block layout:fragment="script">
    <script th:src="@{|/modules/${ctrl}/formatter.js|}"></script>
    <script th:src="@{|/modules/${ctrl}/${ctrl}.js|}"></script>
</th:block>
